<h1>Connexion</h1>

<form class="myForm" novalidate *ngIf="user == null; else log">
    <mat-form-field>
        <input matInput type="email" placeholder="Login" #mail (keyup.enter)="password.focus()" />
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" #password (keyup.enter)="onLogin(mail.value)" />
    </mat-form-field>

    <div>
        <button type="button" mat-button (click)="onLogin(mail.value)">Se connecter</button>
    </div>
</form>

<ng-template #log>
    <div>
        Bonjour, vous êtes connecté en tant que: {{user?.login}}
        <br />
        <button mat-button color="warn" (click)="onLogout()">Se déconnecter</button>
    </div>
</ng-template>